{
  "env": {
    "development": {
      "presets": [["es2015", {"modules": false}], "react", "stage-2", "flow"],

      "plugins": [
        "react-hot-loader/babel",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        ["import", {"libraryName": "antd", "libraryDirectory": "es"}]
      ]
    },

    "production": {
      "presets": [["es2015", {"modules": false}], "react", "stage-2", "flow"],

      "plugins": [
        "react-hot-loader/babel",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        ["import", {"libraryName": "antd", "libraryDirectory": "es"}]
      ]
    },

    "test": {
      "presets": ["es2015", "react", "stage-2"]
    }
  }
}
