.header.forgot-password {
  font-size: 40px;
}

.back-to-signin-link {
  margin-top: 50px;
  text-align: center;

  a {
    color: #a3a3a3;

    &:hover {
      color: darken(#a3a3a3, 10%);
    }
  }
}
